.image-moto {
  width: 50%; /* ou une largeur fixe, par exemple 200px */
  height: auto; /* pour conserver le ratio d'aspect */
  border-radius: 8px; /* optionnel: pour arrondir les coins de l'image */
}