/* Style pour le conteneur de toutes les cartes de motos */
.moto-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

/* Style pour chaque carte individuelle de moto */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style pour l'image de la moto dans la carte */
.image-moto {
  width: 100%;
  height: auto;
  display: block; /* Assurez-vous que l'image ne laisse pas d'espace en bas */
}

/* Style pour les détails de la moto (titre, prix) dans la carte */
.moto-details {
  padding: 0.5rem 1rem;
}

.moto-details h4 {
  margin: 0.5rem 0;
  color: #333;
  font-size: 1.1rem;
}

.moto-details p {
  margin: 0;
  color: #666;
  font-size: 0.9rem;